<ul>
  <li>First Name: {{first_name}}</li>
  <li>Last Name: {{last_name}}</li>
  <li>Age: {{age}}</li>
  <li>City: {{city}}</li>
  <li>State: {{state}}</li>
  <li><img src="{{profile_image}}"></li>
</ul>
